@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_MainHeader.cshtml";
}

<h3 style="margin-top: 20px">About HomeOA</h3>
<canvas style="margin-top: 20px">
    &nbsp; &nbsp;&nbsp;
    办公自动化历史演变<br/>
    在办公自动化引入的近二十年时间里，其发展可分为三个阶段：
起步阶段（1985年—1993年）：是以结构化数据处理为中心，基于文件系统或关系型数据库系统，使日常办公也开始运用IT技术，提高了文件等资料管理水平。这一阶段实现了基本的办公数据管理（如文件管理、档案管理等），但普遍缺乏办公过程中最需要的沟通协作支持、文档资料的综合处理等，导致应用效果不佳。
应用阶段（1993年－2002年）：随着组织规模的不断扩大，组织越来越希望能够打破时间、地域的限制，提高整个组织的运营效率，同时网络技术的迅速发展也促进了软件技术发生巨大变化，为OA的应用提供了基础保证，这个阶段OA的主要特点是以网络为基础、以工作流为中心，提供了文档管理、电子邮件、目录服务、群组协同等基础支持，实现了公文流转、流程审批、会议管理、制度管理等众多实用的功能，极大地方便了员工工作，规范了组织管理、提高了运营效率。典型的解决方案是Lotus Notes，该产品通过内置的文档型数据库系统，有效地解决了组织中大量非结构化数据的处理及安全控制，并借助强大的工作流平台、Email系统实现协作性应用，最大程度地释放了网络平台的价值，使OA真正进入实用阶段。
    发展阶段（2002年至今 ）：OA应用软件经过多年的发展已经趋向成熟，功能也由原先的行政办公信息服务，逐步扩大延伸到组织内部的各项管理活动环节，成为组织运营信息化的一个重要组织部分。同时市场和竞争环境的快速变化，使得办公应用软件应具有更高更多的内涵，客户将更关注如何方便、快捷地实现内部各级组织、各部门以及人员之间的协同、内外部各种资源的有效组合、为员工提供高效的协作工作平台。
    
    <br/> &nbsp; &nbsp;&nbsp;OA应用面临的新需求<br/>
    
    随着知识经济时代的到来，社会进步正在不断加速，组织迫切需要一个可以实现内外资源整合的高效的信息系统，从而提升其管理水平。具体表现在：
1）需要一个高效的协同管理工作平台
能够将组织管理中的业务活动、管理活动及活动产生的信息在组织、部门、个人之间进行及时高效、有序可控、全程共享的沟通和处理。
2）需要一个有效的知识资产管理平台
过去在组织的信息化建设过程往往重视人、财、物这些有形的物质资产管理，忽视了知识资产的管理，需要借助知识管理工具对组织内外的知识进行有效的获取、沉淀、共享、应用、学习和创新，从而提高员工的素质和技能、执行力。
3）需要一个个性化的系统访问门户
传统的OA功能比较单一，员工容易使用，随着功能的不断扩展，员工对功能的需求也不尽相同，这就要求系统必须具有人性化设计，能够根据不同员工的需要进行功能组合，将合适的功能放在合适的位置给合适的员工访问，实现真正的人本管理。
4）需要一个良好的组织文化管理平台
开放的社会造就了开放的社会人，组织规模的不断扩大，导致领导与员工、员工与员工间的直接沟通机会越来越少，组织需要构建新的文化环境，便于员工相互沟通、增进了解、发现思想倾向并及时加以引导。
5）需要一个集中的信息整合呈现平台
办公系统是组织内使用面最广泛、频率最高的信息系统，希望能够通过办公系统实时、直观地了解到组织的运营状况（如生产、营销、财务等数据），同时有效地解决组织内“信息孤岛”问题。
6）需要一个灵活的业务流程整合平台
当组织面临客户不断提出端到端（End to End）的服务时，员工办公环境将会越来越复杂，因此需要将日常工作活动、管理活动、业务活动有机的结合，以快速响应客户需求，同时减少不必要的重复工作，将管理流程与业务流程进行有效的整合。
综合上述各种新的需求不难发现，现阶段的OA系统将以知识管理为核心、以实时协作为技术支撑手段，以统一的知识门户为展现方式
</canvas>
