@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_MainHeader.cshtml";
}

<h3 style="margin-top: 20px">Contact HomeOA</h3>
<h4 style="margin-top: 20px">Name：<input id="txtName" type="text" style="width: 400px" /></h4>
<h4 style="margin-top: 20px">Email：<input id="txtEmail" type="text" style="width: 400px"/></h4>
<h4 style="margin-top: 20px;margin-bottom: 40px">&nbsp;Body：<textarea id="TextAreabody" cols="20" rows="2" style="width: 400px;height: 300px"></textarea></h4>
