@model HomeOA.Models.IndexModel
@{
    Layout = "~/Views/Shared/_MainHeader.cshtml";
}
<!DOCTYPE html>
<html>
    <head>
        <title>HomeOA</title>
    </head>
    <body>
        <h3 style="margin-top: 20px">办公自动化 （新型办公方式）</h3>
        <canvas style="margin-top: 20px">
            &nbsp; &nbsp;&nbsp; 办公自动化（Office Automation,简称OA）是将现代化办公和计算机网络功能结合起来的一种新型的办公方式。办公自动化没有统一的定义，凡是在传统的办公室中采用各种新技术、新机器、新设备从事办公业务，都属于办公自动化的领域。在行政机关中，大多把办公自动化叫做电子政务，企事业单位就都叫OA，即办公自动化。通过实现办公自动化，或者说实现数字化办公，可以优化现有的管理组织结构，调整管理体制，在提高效率的基础上，增加协同办公能力，强化决策的一致性，最后实现提高决策效能的目的。
            <br/>
            &nbsp; &nbsp;&nbsp;  OA最大的问题已经不是功能上的。而是安装部署使用门槛太高，实施成功率太低。SaaS模式的OA可以算是划时代的，直接输入账号密码就可以用。但是数据在别人主机总有被要挟的感觉，多数老板都觉得这个不太爽（安不安全另说）真正一款可以安装到本地和虚拟主机，有能让不懂程序都能使用的产品，我觉得只有一个叫IBOS的OA产品。企业规模不大的可以去他们官网下载安装来使用，免费。规模大的企业可以购买商业版。
            &nbsp; &nbsp;&nbsp; OA选型      <br/>
            
             &nbsp; &nbsp;&nbsp;  结合十几年来服务成千上万的客户的经验，提出了在OA选型时需要关注的五点： <br/>
  &nbsp; &nbsp;&nbsp; 关注本质<br/>
选型小组的负责人要深刻认识到OA软件是全员信息化，其本质是全员工作模式和企业管理模式的一次变革，在选型过程中，可能涉及到较多的部门，在未来的应用推广过程中，一定是一把手工程，因此要基于全员去安排需求调研、产品选型、应用推广和集成整合等工作安排和工作节奏。
OA的本质是流程与知识、门户管理，其中流程是其核心本质。而OA项目的成败本质与其他管理软件一样，都在于产品，再好的品牌和顾问，如果产品缺乏竞争力，实施的效果也大打折扣。<br/>
  &nbsp; &nbsp;&nbsp; 核心价值<br/>
OA软件的应用范畴涉及到所有知识性员工，是全员信息化的第一台阶。既然是全员应用，提高全员的工作效率而不是某个部门、某个领导、某个人的效率，成为OA软件的核心价值定位，如果以通用性和经常性两个纬度对OA软件的功能进行筛选的话，OA软件的核心应用是：流程审批、协同工作、公文管理（国企和政府机关）、沟通工具、文档管理、信息中心、电子论坛、计划管理、项目管理、任务管理、会议管理、关联人员、系统集成、门户定制、通讯录、工作便签、问卷调查、常用工具（计算机、万年历等）。如果以给企业带来价值大小的纬度对所有功能模块评估的话，基本上遵循80：20定律，其中的工作流程模块、协同工作模块、项目管理模块为企业带来的了80%的价值，而其余的模块带来20%的价值。
因此抓大放小，重点考察工作流程、协同工作、项目管理的技术水准，成为产品选型的不二选择。<br/>
  &nbsp; &nbsp;&nbsp; 厂商态度<br/>
OA软件是涉及到全员使用的管理软件，因此采购OA软件与采购财务软件、硬件设备不同，不是简单的、一次性的买卖交易，而是持续一年甚至多年的管理变革、咨询和人工服务，在这个过程中，需要持续不断的与厂商互动，来解决实施、应用、推广过程中遇到的各种需求变更、BUG处理、功能调整、软件集成等等问题。<br/>
在持续出现的、纷繁复杂的问题面前，客户如果面对的只是一个普通销售人员或者普通实施人员，是无法调动整个组织进行资源协调和支持的，因此选择产品的同时，也要重点考察OA厂商的态度，判断他们是否重视你，选择一个爱你的人，远比选择一个你爱的人重要。<br/>
而管理软件领域内，众所周知的潜规则是：领导只参与和出席公司认为重要的项目选型，领导的级别越好，说明对你越重视，也意味着过程中遇到问题后，资源协调到位的可能性越大。<br/>
  &nbsp; &nbsp;&nbsp; 成本控制<br/>
很多客户的CIO或者信息化负责人，在评估OA软件的成本是，只是简单的考虑到公司在OA软件项目上的预算和供应商的报价，而忽视了OA软件部署的软硬件环境成本、软件实施过程中参与人员的时间成本、培训成本、将来的维护难度和服务成本、将来数据集成的开发成本、升级成本和数据迁移成本等等，因此往往陷入“捡了芝麻、丢了西瓜”的尴尬境地。
当然管理软件的选型与硬件设备的选型不同，硬件设备的选型成本占有最重要要素，而管理软件的选型，软件应用后的价值占有最重要要素。<br/>
关于OA软件选型过程中的采购成本，行业内的潜规则是：去掉最便宜的，去掉最贵的，选择综合成本受控的厂商。选择产品竞争力强的产品，是最有效的成本控制措施，盲目追求低成本而选择低价产品，和盲目追求高价格以寻求心理保障，都是不可取的。<br/>
  &nbsp; &nbsp;&nbsp; 售后服务<br/>
OA办公系统的服务是软件深入、持久和稳定使用的保障。首先，软件服务的效率和质量直接影响软件正常稳定的运行和用户的满意度。其次，OA办公系统服务的成本太高，用户最终也难以承受。OA办公系统的服务是一个系统的工程，做好了不仅能有力保障产品的成功应用，还能降低用户的使用成本。<br/>
而且，OA办公系统服务是OA厂商的软件产品、团队的技术实力和项目经验、项目的管理水平等多方面的综合因素的体现。<br/>
大型企业如何选型。<br/>
&nbsp; &nbsp;&nbsp;1、做好项目规划和管理，严格控制项目目标、项目实施、项目成本、验收标准、后续服务等内容。<br/>
&nbsp; &nbsp;&nbsp;2、应该选择专业化的OA办公系统厂商，尽量避免其他软件开发商或系统集成商。因为OA办公系统不是这些公司的主业，他们通常采用项目定制的方式来实施，会导致实施周期长、成本高，稳定性和适用性差，后期的服务和二次开发都非常不便，后续费用也很高。<br/>
&nbsp; &nbsp;&nbsp;3、系统应该非常成熟、健壮、稳定，能够满足大规模用户同时在线使用，并且访问速度快。系统的实施应该简单，对于标准化的功能，可以快速实施，并简单培训后就可以使用，以降低实施周期和成本。<br/>
&nbsp; &nbsp;&nbsp;4、系统应该具有门户的特点，满足企业的多层级使用，同时具有严密的权限设置和安全防护措施，让不同级别的用户可以安全使用。系统应该具有很强的流程管理功能，满足企业流程规范和流程优化的需求。<br/>
&nbsp; &nbsp;&nbsp;5、系统需要具有平台化的特点，采用多层架构，具有很强的开放性和灵活性。因为大型企业通常掌握一定的软件开发技术，因此OA办公系统最好是能够提供一个开放性的平台，让IT人员利用这个平台搭建个性化的应用系统，并实现和其他系统的数据整合。类似于华天动力的自定开发平台就具有这个特点。<br/>
最后需注意，大型企业在选购OA办公系统时往往有着更大的空间，但其实也有着更大的风险，对OA办公系统这种看起来简单，实际却并不简单的管理系统来说，还需要选型者认真、理性的对待，这才是项目成功的第一步<br/>
        </canvas>
    </body>
</html>
