@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_MainHeader.cshtml";
}

<h3 style="margin-top: 20px">OA由来和发展历程</h3>
<canvas style="margin-top: 20px">
    &nbsp; &nbsp;&nbsp;基本界定OA系统以后，我们再回顾一下OA系统在我国的发展脉络。（下文如果非特指，办公自动化即指狭义的OA系统）。    <br/> 
    &nbsp; &nbsp;&nbsp;1、中国的OA系统起源于政府的公文和档案管理。由于计划经济体制的影响，政府对企业的管理出了依靠法律、法规之外，还有大量的行政指令和指示。企业在进行许多决策的时候，也经常需要向主管的政府部门请示汇报。另外，当时的政府官员和企业领导经常是你来我往难以分辨，并且存在着比较严格的对应关系，即企业领导和政府官员行政级别挂钩，因此在企业应用红头文件就比较自然。此时的OA系统的特点：以公文处理、档案管理为核心的办公管理系统，其实办公其实就是办文。    <br/> 
    &nbsp; &nbsp;&nbsp;2、随着企业的介入，OA软件也有一定的发展，加入了很多企业的特性，例如，OA现在强调的知识管理，强调了业务流程的整合，但是，效果并不是很理想。主要功能的收发文、档案管理、物品管理、文档管理、车辆管理、后勤管理、简单的人事管理等。尽管解决了企业中存在的层级结构，传统的办文程序，从文件起草、审阅、会签、签发、下发到归档、借阅等各个环节，存在流程复杂，流转时间长，导致办公效率低，决策缓慢等问题。但是由于在机构和流程上很难作很大的改动，因此解决之道就是采用先进的计算机和网络技术，不仅将办文内容电子化，而且实现整个办文过程电子化，从根本上改变了传统的工作模式。     在此种情况下，OA作的所有工作不过是将手工工作搬到计算机网络上，并利用了计算机技术的一些先进特点，却没有增加任何先进的管理理念和方法。另外办公自动化的处理的信息范围实在过于有限，仅仅处理一些公文就可以称为办公自动化了吗？如果我们仔细观察市面上的OA产品，所提供的附加功能的深度和广度也是非常让人失望的。这就是我们目前的办公自动化系统所处的基本现实和困境。这也是我们的客户对OA不满意的焦点所在。     办公自动化的发展经历了五个阶段：从PC机加上个人办公软件实现的文字处理是第一个阶段，这个阶段大概在20世纪80年代到90年代初，大家主要是实现文字处理，就是单机的办公自动化；第二个阶段是局域网的出现，局域网和关系数据库实现了文件共享、信息共享，这个应该在90年代；第三个阶段，即在21世纪初期，这个阶段的特点是以群件技术为基础、以协同工作和知识管理为目标的办公自动化。第四个阶段，即协同办公门户，这个阶段的特点是OA系统作为整个组织内部信息化的入口，相对于外部门户（互联网网站），与组织内各个业务系统进行集成，数据集中展现。弟五个阶段，也就是移动化阶段。随着3G移动网络的发展，OA进入了移动化阶段。移动OA使得办公人员可以在任何时间任何地方使用OA，同时也引
    入了基于GPS的考勤、现场信息采集、移动审批等等移动功能[1]，把OA应用推向了新的额高度。  <br/>
    &nbsp; &nbsp;&nbsp;1、第一代OA    以email、个人office办公软件处理为核心，个人来处理日常工作，在组织内缺乏很好的沟通渠道。  <br/>
    &nbsp; &nbsp;&nbsp;2、第二代OA    主要是以传统的收发文管理，档案管理为主。加入了很多的辅助功能如，BBS、公告板、名片夹、日程安排、报告管理、图书管理、车辆管理、公司大事记等小功能。这些功能相对独立，这样的功能也可以用内部网站的形式实现。这些功能对于企业没有实际的大的帮助。   
    而开发和销售这种产品的企业很多，也有一定的客户群。这类产品价格比较低，尤其是这类产品开发成本比较低，对软件公司的要求也不高。但是这类对企业没有起到实际的使用价值。   <br/>
    &nbsp; &nbsp;&nbsp;3、第三代OA    第二代的OA产品在功能上加强了，加入了很多功能。例如加入了文档管理、人事的管理、资产的管理，特别是在流程方面逐步得到了加强。他的功能还是相对对立，尤其是与企业的业务还是没有挂接上来，也是停留在将工作电子化的程度。面对这样的功能，我们会问：这样的办公自动化到底解决了什么问题？企业用了办公自动化到底解决了什么问题。  
    实际上，这是两个相关的问题，解决方法的获得必须要有更高的高度，更宽阔的视野来看待办公自动化以及其他系统之间的关系。同时我们也不能忽略技术的影响。因此我们需要第三代的OA系统。  <br/>
    &nbsp; &nbsp;&nbsp;4、第四代OA    当我们的目光移开办公自动化系统，我们就会发现，在企业除了办公自动化系统之外，还有财务、库存、生产、销售、人力等管理系统。由于大量的信息孤岛式的建设，他们之间很少能够紧密协调起来。就前端来说，我们经常需要进行退出一个系统然后再进入另一个系统，并且发现数据常常不一致，我可以比较肯定地说，目前中国具有信息系统的企业绝大部分都是这种情况。他们往往具有多个供应商提供的多个系统，但很少集成。也有少数企业采用ERP套件，集成了其中的一部分，全部集成的企业凤毛麟角，也可能正在产生之中。
    <br/> 
    &nbsp; &nbsp;&nbsp; 1、集成，这是第一点需求。     从目前用户的使用技能和接受程度以及系统的维护成本考虑，WEB界面最容易接受。另外从集成方面来讲，必须采用人人支持的web标准如HTML
    
    JavaScript，Activex，IIOP，DHTML，XML,JAVA等才能在一个界面下容纳，否则的化，技术难度就会导致集成不可能实现。    <br/> 
    &nbsp; &nbsp;&nbsp;  2、完全基于web，这是第二点需求。     对于流程，熟悉办公自动化系统的人就会想起收发文的流程。那是非常完善的、符合层级结构的、效率低下的流程。对于如何优化该流程，如果我们宥于原有的思维模式和知识领域，我们无法获得更多。必须基于现代的流程管理思想对目前的业务流程进行重组。（办公自动化系统和管理咨询如何结合在一起）      <br/> 
    &nbsp; &nbsp;&nbsp; 3、流程优化的，这是第三点需求。     进入知识经济时代，我们人人都是知识工作者，要求办公自动化系统必须具有知识内涵，或者说是基于知识。提供知识管理所需的最基本的IT工具，知识存储库和知识交流场所，更高级的意义上提供，基于知识的岗位要求和评估体系。  
            <br/> 
    &nbsp; &nbsp;&nbsp;4、基于知识的，这是第四点需求。     总之我们要求的办公自动化系统系统是和其他应用系统紧密集成的，完全采用Web技术的，流程优化以及基于知识的管理的办公管理系统
</canvas>
