@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_MainHeader.cshtml";
}

<h3 style="margin-top: 20px">技术平台</h3>
<canvas style="margin-top: 20px">
    &nbsp; &nbsp;&nbsp;
    OA系统的英文全称是：Office Automation System ，意为办公自动化系统。<br/>
    随着OA应用内容的不断扩展，OA技术也在不断发展，从过去的BASIC+文件系统到VB+ACCESS、DELPHI+ORACLE、PHP+mysql、JAVA+mysql，基本形成了三大主流技术：<br/>
    &nbsp; &nbsp;&nbsp;1. .net+关系型数据库（RDB）技术<br/>
    基于.net+RDB的办公平台则以简单、灵活、易用的特点获得了广泛的市场。.net是微软的企业级应用开发平台，优势是组件众多，可以搭建个性化的应用。但是由于需要比较专业的开发技术，并且系统的开放性较差，对微软以外的平台兼容性不好，以及版权的原因，所以在绝大多数企业看来并不适用，只有少数外企愿意使用这个技术。[1] <br/>
    &nbsp; &nbsp;&nbsp;2. SUN的JAVA+RDB技术<br/>
    JAVA（J2EE标准）以其开放性、与平台无关性引领着技术发展方向，并迅速在各类应用系统中得到广泛应用与推广，在OA领域市场领域不断扩大。<br/>
    JAVA技术的优势是跨平台、安全稳定、开放性好，尤其是开放性这个特点，使得JAVA顺应时代发展需求，成为OA软件开发商的宠儿，截至2014年，市场上主流的OA软件中，90%以上采用JAVA技术。华天动力OA软件是业内第一个向用户提出需要关注开发技术的厂商，但这个观点起初并不为广大用户甚至个别厂商所认同。<br/>
    市场是客观的，它会根据实际需要做出正确的选择，随着用户意识到软件开放性、拓展性、兼容性的重要性，JAVA很快成为企业级管理软件开发的最主要工具。原本一些采用其他技术的厂商，也纷纷加入到JAVA阵营，没有及时转型的，则逐渐被市场淘汰了。[1] <br/>
    &nbsp; &nbsp;&nbsp;3.IBM Lotus Domino技术<br/>
    Lotus自1989年推出，以电子邮件、协同、非结构文档处理、安全机制见长。然而随着OA应用的内涵不断丰富，Domino也暴露出一些明显的弱点，不妨将技术原理相同的.net/JAVA与Domino作一简单的比较（以OA应用为前提）：<br/>
    .net/JAVA更类似3GL工具，应用功能的实现需要更多的开发或集成，应用的成熟需要不断的进行功能沉淀与积累；而Domino更像4GL工具，提供了业界领先的协同工具、企业级文档处理、文档级安全控制机制、大量的应用模板，使其更擅长办公应用支撑，但面对大量结构化业务信息处理时则显得明显不足。<br/>
    IBM是OA软件的鼻祖，因此它的Domino技术也在十几年前被视为是OA软件的正统平台，其优势是安全性和稳定性极佳，底层架构很健壮。<br/>
    但它有两个致命的缺陷，一是开放性很差，很难和其他管理系统进行数据整合；二是技术太复杂，实施、维护、二次开发都需要专业的技术人员来做，导致相关的成本非常高。这两个缺陷导致Domino技术很难适应中国企业的需求。[1] <br/>
   &nbsp; &nbsp;&nbsp; 4.Suo-基于saas的j2ee服务<br/>
    OA将业务流程与审批流程真正的做到了根据需求而变化的流程自动化平台。擅长业务流程及审批流程，最注重与第三方ERP的集成工作，实现目标是将企业的审批流与业务流全部打通，最终形成报表体系，服务于决策。<br/>
    当前上海索昂软件SUOOA中国区系统已经实现了很"Duang"的[2]  免费版OA系统[3]  ，面向所有企业。<br/>
    高端技术<br/>
    &nbsp; &nbsp;&nbsp; 
    OA品牌<br/>
    OA系统的主流技术，从过去的Domino逐步向NET、Java迁移，主流的软件公司已经将JAVA作为根本技术路线，而原有Domino、.NET路线的产品，在高端用户需求面前，逐步成为明日黄花，此类公司也在悄然转型，沿着JAVA路线开辟新产品。
    &nbsp; &nbsp;&nbsp;  平台化能力<br/>
OA的通用功能相对成熟的情况下，随着客户管理应用的深入，更多的OA和ERP的边缘需求，开始旺盛出来，因此如何持续的满足客户的功能需求，成为拉长产品生命周期的重要因素。如何通过无码开发实现快捷的功能定制成为平台化产品的发展方向。<br/>
 &nbsp; &nbsp;&nbsp; 系统集成<br/>
对于信息化起步阶段的用户来讲，单系统应用就足够了，但对于已经有相当信息化基础的高端OA用户来讲，如何与ERP系统进行数据集成、信息集成、门户集成，如何与HR系统进行组织集成、用户集成，如何与即时消息进行消息集成，甚至如何进行数据拆分和重建等成为思考的因素之一。<br/>
但集成是把双刃剑，缺少标准接口而完全定制开发的集成，又可能给升级、系统性能、项目周期等带来风险和隐患。因此考察OA系统时，重点研讨标准接口能力和产品化机制成为要点。基于数据持久层和SOA标准服务接口的集成方案，成为国内大部分用户和产品首选技术方案。<br/>
 &nbsp; &nbsp;&nbsp; 移动应用<br/>
随着手机操作系统和CPU的持续升级、随着wifi无线的普及和手机带宽的持续扩容，通过手机、平板电脑实现随时随地的办公，已经成为可能，尤其是高层管理者，通过移动应用实现对时间碎片的高效应用成为关注点。<br/>
移动OA系统，不仅能够在手机上操作办公OA的功能，而且能够处理ERP、CRM等业务数据，成为国内最具竞争力的办公、业务一体化移动OA软件。<br/>
 &nbsp; &nbsp;&nbsp; 企业号OA系统应用<br/>
企业号推出后，各大厂商将自己的OA系统与微信企业号对接，企业用户也多选择了此类的OA系统，微信企业号的优势在于：[4] <br/>
 &nbsp; &nbsp;&nbsp; 企业内部具备沟通的简易化。<br/>
流程审批实现了语音化，目前，OA系统就已经实现了流程审批的语音识别操作，这种技术不仅可以具备高效的真实性核对，E38.wang更加可以通过语音的方式明确批注的详细解释。让流程审核更具精准性。<br/>
移动集成化，以往的OA中，移动仅限OA系统本身，也可以和其它的ERP、CRM高度集成，实现在微信端的企业信息共享，这将改变OA系统单一存在的局面.<br/>
 &nbsp; &nbsp;&nbsp; 流程互访<br/>
OA系统在实际的应用中，尤其是中大型单位，用户最需要的，就是将业务流程和审批流程打通。甚至是企业的审批流程可以调用业务流程。这将是一个中大型企业实现信息化的高级基础。<br/>
BPM流程功能，不仅能够很好地实现公文、请示汇报等OA应用，而且能够实现供销合同、借款报销，甚至生产制造等流程处理，成为国内第一套流程型协同软件，也由此被赛迪、中国电子商务协同、新浪等机构和媒体广泛评价为产品竞争力第一。
</canvas>